html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1{
  color: blue;
}

.outer-container{
  width: 100%;
  padding: 10px;
  border: 2px solid red;
}
.img-container{
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.img-container img.dummy-img{
  width: 100%;
  opacity: 0;
}

.img-container img.slider-img{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: left 1s;
  z-index: 10;
}

.img-container button{
  height: 8vw;
  width: 4vw;
  position: absolute;
  bottom: calc(50% - 4vw);
  z-index: 100;
}
.img-container .right-button{
  right: 0;
}
