<nav>
    <a href="home" class=<%= page === "home" ? "this-page" : "" %>>Home</a>
    <a href="about" class=<%= page === "about" ? "this-page" : "" %>>About</a>
    <a href="contact" class=<%= page === "contact" ? "this-page" : "" %> >Contact</a>
    <a href="me" class=<%= page === "me" ? "this-page" : "" %>>Me</a>
</nav>